*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #FFE66D;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Profile
------------------------------------*/
header {
  background: #2F3061;
  color: #F7FFF7;
  text-align: center;
}

.profile-img{
	width: 150px;
	height: auto;
	border: 2px solid black;
	border-radius: 50%;
	margin-bottom: 20px;
}

/* Skill-Section
------------------------------------*/
.skill-section{
	background: #119999;
	color: #fff;
}
.skill-section h3{
	padding: 30px 0 10px 0;
}
.skill-section p{
	font-size: 16px;
	line-height: 30px;
}

.skill-btn {
    background: #2F3061;
    width: 135px;
    display: inline-block;
    padding: 9px 15px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

/* Projects
------------------------------------*/
.personal-section {
  background: #F7FFF7;
}
.personal-info p {
    font-size: 17px;
    padding-top: 30px;
}

.personal-info b{
	margin-right: 5px;
}
/* Work Experience
------------------------------------*/
.work-experience {
  background: #A1C6D7;
}


/* Education
------------------------------------*/
.edu-and-training {
  background: white;
  padding-bottom: 100px;
  overflow: hidden;
}
.edu-info{
	margin-top: 20px;
}
.edu-section{
	width: 50%;
	float: left;
}
.training-section{
	width: 50%;
	float: right;
}
.education p {
  width: 60%;
}


/* Contact Info
------------------------------------*/
footer {
  background: #343434;
  color: #F7FFF7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}


/* Responsive
------------------------------------*/

@media screen and (min-width:750px){
 /* header, footer {
    text-align: center;
  }*/
  
  .contact-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 910px){
	.edu-section{
  	width: 100%;
  	float: none;
  }
  .training-section{
  	width: 100%;
  	float: none;
  	margin-top: 50px;
  }
}
@media screen and (max-width:749px){
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
  
}


@media screen and (max-width:575px){
	.profile-img{
		position: relative;
		left: 100px;
	}
	 header h1{
	 	font-size: 60px;
	 }
}

@media screen and (max-width: 400px){
	.profile-img{
		position: relative;
		left: 80px;
	}
	 header h1{
	 	font-size: 50px;
	 }
	header h2{
	 	font-size: 35px;
	 }
}
